
@media screen and (max-width: 360px) {
  .hero-content,
  nav,
  ul {
    flex-direction: column;
    align-items: center;
    /* border: 1px solid red; */
    width: 100%;
    /* border: 2px solid blue; */
  }
  nav {
    width: 100%;
    height: auto;
    text-align: center;
    border: none;
  }
  nav ul {
    border: none;

    width: 100%;
    margin: 0px auto;
  }
  nav ul li {
    margin: 0px auto;
  }
  .hero-content div {
    width: 80%;
  }

  .hero-content div h1 {
    font-size: 2em;
    margin-top: 10%;
    font-weight: 700;
    margin-bottom: 1em;
  }

  .hero-content .contents {
    text-align: center;
    width: 100%;
    margin-top: 2em;
  }
  .contents .btn {
    padding: 10px 20px;
  }

  /* latest work responsive */

  .latest-work {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3em 0;
  }

  .work-content {
    width: 100%;
  }
  .work-content h2 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  .work-cards {
    flex-direction: column;
    margin: 3em 0;
    align-items: center;
    gap: 1em 0em;
    /* gap: 0; */
  }

  .card {
    width: 80%;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 2em 1em;

    border-radius: 19.74px;
  }
  .card img {
    width: 100%;
    height: 15.323em;
  }
  .card h2 {
    font-size: 2em;
    line-height: 1em;

    margin-top: 1.5em;
    margin-bottom: 0.2em;
  }
  .card p {
    font-size: 1em;

    margin-top: 0.5em;
    margin-bottom: 0.6em;
  }
 
  .footer {

    padding: 3em 1em;
    border: none;
    /* border: 2px solid #16f40b; */
  }
  .footer-banner {
    background: none;
    flex-direction: column;
    width: 100%;
    height: auto;
    border: none;

    /* border: 2px solid rgb(11, 79, 238); */
  }
  .footer-banner h1 {
    color: rgb(54, 57, 88);
    line-height: 1em;
 
    font-size: 1.5em;
  }
  .footer-content {
    text-align: center;
    width: 100%;
    border: none;
  }
  .footer-content h2 {
    font-size: 1.2em;
  }
  .footer-content img {
    width: 2em;
    height: 2em;
    border: none;
  }
  .footer-content .icons {
    display: flex;
    justify-content: center;
    gap: 1.5em;
  }
}



@media screen and (min-width: 360px) and (max-width: 768px){
    .first {
        flex-direction: column-reverse;
        align-items: center;
        /* border: 1px solid red; */
        width: 100%;
        /* border: 2px solid blue; */
      }
    .second {
      flex-direction: column;
      align-items: center;
      /* border: 1px solid red; */
      width: 100%;
      /* border: 2px solid blue; */
    }
    nav {
      width: 100%;
      height: auto;
      text-align: center;
      border: none;
    }
    nav ul {
      border: none;
      padding: 20px 0px 20px 0px;
  
      width: 70%;
      margin: 0px 0px;
    }
    nav ul li {
      margin: 0px auto;
    }
    .hero-content div {
      width: 90%;
    }
  
    .hero-content div h1 {
      font-size: 4em;
      margin-top: 10%;
      font-weight: 700;
      margin-bottom: 1em;
    }
  
    .hero-content .contents {
      text-align: center;
      width: 100%;
      margin-top: 2em;
    }
    .contents .btn {
      padding: 10px 20px;
    }
  
    /* latest work responsive */
  
    .latest-work {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3em 0;
    }
  
    .work-content {
      width: 100%;
    }
    .work-content h1 {
      font-size: 4em;
      margin-bottom: 1em;
    }
  
    .work-cards {
      flex-direction: column;
      margin: 3em 0;
      align-items: center;
      gap: 1em 0em;
      /* gap: 0; */
    }
  
    .card {
      width: 70%;
      background: rgb(255, 255, 255);
      text-align: center;
      padding: 2em 1em;
  
      border-radius: 19.74px;
    }
    .card img {
      width: 100%;
      height: 15.323em;
    }
    .card h2 {
      font-size: 2em;
      line-height: 1em;
  
      margin-top: 1.5em;
      margin-bottom: 0.2em;
    }
    .card p {
      font-size: 1em;
  
      margin-top: 0.5em;
      margin-bottom: 0.6em;
    }
   
    .footer {
  
      padding: 3em 1em;
      border: none;
      /* border: 2px solid #16f40b; */
    }
    .footer-banner {
      background: none;
      flex-direction: column;
      width: 100%;
      height: auto;
      border: none;
  
      /* border: 2px solid rgb(11, 79, 238); */
    }
    .footer-banner h1 {
      color: rgb(54, 57, 88);
      line-height: 1em;
   
      font-size: 2.5em;
    }
    .footer-content {
      text-align: center;
      width: 100%;
      border: none;
    }
    .footer-content h2 {
      font-size: 1.8em;
    }
    .footer-content img {
      width: 2.7em;
      height: 2.7em;
      border: none;
    }
    .footer-content .icons {
      display: flex;
      justify-content: center;
      gap: 1.5em;
    }
  }
  

  @media screen and (min-width: 768px) and (max-width: 1024px){
    .first {
        flex-direction: column-reverse;
        align-items: center;
        /* border: 1px solid red; */
        width: 100%;
        /* border: 2px solid blue; */
      }
    .second {
      flex-direction: column;
      align-items: center;
      /* border: 1px solid red; */
      width: 100%;
      /* border: 2px solid blue; */
    }
    /* .hero-content {
        flex-direction: column;
        align-items: center;
        width: 100%;
      } */
    nav {
      width: 100%;
      height: auto;
      text-align: center;
      border: none;
    }
    nav ul {
      border: none;
      padding: 20px 0px 20px 0px;
  
      width: 50%;
      margin: 0px 0px;
    }
    nav ul li {
      margin: 0px auto;
    }
    .hero-content div {
      width: 90%;
    }
  
    .hero-content div h1 {
      font-size: 4em;
      margin-top: 10%;
      font-weight: 700;
      margin-bottom: 1em;
    }
  
    .hero-content .contents {
      text-align: center;
      width: 100%;
      margin-top: 2em;
    }
    .contents .btn {
      padding: 10px 20px;
    }
  
    /* latest work responsive */
  
    .latest-work {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3em 0;
    }
  
    .work-content {
      width: 100%;
    }
    .work-content h1 {
      font-size: 4em;
      margin-bottom: 1em;
    }
  
    .work-cards {
      flex-direction: column;
      margin: 3em 0;
      align-items: center;
      gap: 1em 0em;
      /* gap: 0; */
    }
  
    .card {
      width: 70%;
      background: rgb(255, 255, 255);
      text-align: center;
      padding: 2em 1em;
  
      border-radius: 19.74px;
    }
    .card img {
      width: 100%;
      height: 15.323em;
    }
    .card h2 {
      font-size: 2em;
      line-height: 1em;
  
      margin-top: 1.5em;
      margin-bottom: 0.2em;
    }
    .card p {
      font-size: 1em;
  
      margin-top: 0.5em;
      margin-bottom: 0.6em;
    }
   
    .footer {
  
      padding: 3em 1em;
      border: none;
      /* border: 2px solid #16f40b; */
    }
    .footer-banner {
      width: 100%;
      border: none;
      background-size: cover;
        background-position: center;
        border-radius: 20px;
    }
    .footer-banner h1 {
      color: rgb(253, 253, 253);
      line-height: 1em;
   
      font-size: 2.5em;
    }
    .footer-banner .btn{
        margin-bottom: 40px;
    }
    .footer-content {
      text-align: center;
      width: 100%;
      border: none;
    }
    .footer-content h2 {
      font-size: 1.8em;
    }
    .footer-content img {
      width: 2.7em;
      height: 2.7em;
      border: none;
    }
    .footer-content .icons {
      display: flex;
      justify-content: center;
      gap: 1.5em;
    }
  }
  

  
  @media screen and (min-width: 1024px){
    /* .hero-content {
      align-items: center;
      width: 100%;
    } */
    nav {
      width: 100%;
      height: auto;
      text-align: center;
      border: none;
    }
    nav ul {
      border: none;
      padding: 20px 0px 20px 0px;
  
      width: 50%;
      margin: 0px 0px;
    }
    nav ul li {
      margin: 0px auto;
    }
    .hero-content div {
      width: 90%;
    }
  
    .hero-content div h1 {
      font-size: 4em;
      margin-top: 10%;
      font-weight: 700;
      margin-bottom: 1em;
    }
  
    .hero-content .contents {
      text-align: center;
      width: 100%;
      margin-top: 2em;
    }
    .contents .btn {
      padding: 10px 20px;
    }
  
    /* latest work responsive */
  
    .latest-work {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 3em 0;
    }
  
    .work-content {
      width: 100%;
    }
    .work-content h1 {
      font-size: 4em;
      margin-bottom: 1em;
    }
  
    .work-cards {
      /* flex-direction: column; */
      margin: 3em 0;
      align-items: center;
      width: 90%;
      /* gap: 1em 0em; */
      /* gap: 0; */
    }
  
    .card {
      width: 70%;
      background: rgb(255, 255, 255);
      text-align: center;
      padding: 2em 1em;
      height: auto;
  
      border-radius: 19.74px;
    }
    .card img {
      width: 100%;
      height: 15.323em;
    }
    .card h2 {
      font-size: 2em;
      line-height: 1em;
  
      margin-top: 1.5em;
      margin-bottom: 0.2em;
    }
    .card p {
      font-size: 1em;
  
      margin-top: 0.5em;
      margin-bottom: 0.6em;
    }
   
    .footer {
  
      padding: 3em 1em;
      border: none;
      /* border: 2px solid #16f40b; */
    }
    .footer-banner {
      width: 100%;
      border: none;
      background-size: cover;
        background-position: center;
        border-radius: 20px;
    }
    .footer-banner h1 {
      color: rgb(253, 253, 253);
      line-height: 1em;
   
      font-size: 2.5em;
    }
    .footer-banner .btn{
        margin-bottom: 40px;
    }
    .footer-content {
      text-align: center;
      width: 100%;
      border: none;
    }
    .footer-content h2 {
      font-size: 1.8em;
    }
    .footer-content img {
      width: 2.7em;
      height: 2.7em;
      border: none;
    }
    .footer-content .icons {
      display: flex;
      justify-content: center;
      gap: 1.5em;
    }
  }
  